/** @format */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	font-size: 16px;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: #efefef;
}
/* Global Styling */
.bg-yeallow {
	background-color: rgba(255, 227, 103, 0.15);
}
.bg-pink {
	background-color: rgba(255, 93, 153, 0.15);
}
.bg-blue {
	background-color: rgba(92, 193, 253, 0.15);
}
.bg-green {
	background-color: rgba(58, 250, 213, 0.15);
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
section {
	padding: 30px 0;
}
button {
	cursor: pointer;
}
input:focus,
button:focus {
	outline: 0;
}
/* Search Section  */
#errorMsg {
	color: #ff5d99;
	font-weight: 300;
	padding: 30px 0;
	height: 60px;
	margin-bottom: 15px;
}
.search .container {
	display: grid;
	grid-template-columns: 8fr 2.5fr;
	gap: 50px;
	align-items: center;
}

.search-box form {
	display: flex;
}
.search-box form input {
	height: 50px;
	width: calc(100% - 70px);
	padding: 15px;
	background: #fff;
	border: 0;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	font-size: 16px;
}
::-webkit-input-placeholder {
	/* Edge */
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

::placeholder {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.search-box form button {
	width: 70px;
	height: 50px;
	border: 0;
	background: rgb(255, 93, 153);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.search-limits {
	height: 50px;
	border-radius: 5px;
	padding: 0 10px;
	display: flex;
	align-items: center;
}
.search-limits h4 {
	font-size: 20px;
	font-weight: 400;
	color: #333;
}

/* Cards Stylings */
.cards .container {
	/* display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-basis: 100px;
	flex-shrink: 2; */
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	gap: 1rem 1rem;
}
.cards .card {
	padding: 1rem 2rem;
	background: #fff;
	border-radius: 4px;
	display: grid;
	grid-template-columns: auto 1fr;
}
.cards .card span {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	display: grid;
	place-items: center;
	margin-right: 30px;
}
.cards .card:last-child {
	margin-right: 0;
}
.cards .card div h3 {
	font-weight: 600;
	color: #333;
}
.cards .card div p {
	color: #617d98;
	font-size: 14px;
	font-weight: 300;
}
/* User Info */
.user-info .grid-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.profile-info,
.followers {
	background: #fff;
	padding: 1.5rem 2rem;
	border-radius: 5px;
	width: 49%;
}
.profile-info .profile-heading {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	margin-bottom: 15px;
}
.profile-info .profile-heading img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 30px;
}
.profile-info .profile-heading h4 {
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 2px;
}
.profile-info .profile-heading .username {
	font-size: 14px;
	color: #5cc1fd;
}
.profile-info .profile-heading a {
	color: #ff5d99;
	border: 1px solid #ff5d99;
	padding: 4px 16px;
	border-radius: 18px;
	transition: background 0.3s, color 0.3s;
	text-transform: uppercase;
}
.profile-info .profile-heading a:hover {
	background: #ff5d99;
	color: #fff;
}

.profile-info p,
a {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.profile-info p {
	color: #617d98;
}
.profile-info .bio {
	display: block;
	color: #444;
	margin-bottom: 15px;
}
.profile-info svg {
	font-size: 1.3rem;
	margin-right: 10px;
}
.profile-info a {
	color: teal;
}
.followers {
	overflow-x: auto;
	overflow-y: scroll;
	height: 270px;
	position: relative;
}
/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f6f6f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #617d98;
}

.followers .title {
	text-transform: uppercase;
	position: absolute;
	color: #617d98;
	right: -50px;
	top: 50%;
	letter-spacing: 5px;
	transform: translate(0, -50%);
	transform: rotate(270deg);
	font-weight: 300;
}

.followers article {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}
.followers article img {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	margin-right: 20px;
}
.followers article a {
	color: #617d98;
}
.charts-container {
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 30px;
	justify-content: center;
}
.languages,
.repos,
.stars,
.forks {
	background: #fff;
	border-radius: 5px;
	padding: 1.5rem 2rem;
	display: grid;
	place-items: center;
}

@media screen and (max-width: 979px) {
	.user-info .grid-container {
		flex-direction: column;
	}
	.profile-info,
	.followers {
		width: 100%;
		margin-bottom: 50px;
	}
}
@media screen and (max-width: 767px) {
	.search .container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
	}
}
@media screen and (max-width: 491px) {
	.profile-info .profile-heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.profile-info,
	.followers {
		background: #fff;
		padding: 1.5rem 1rem;
	}

	.profile-info .profile-heading .follow-btn-container a {
		display: inline-block;
		margin-top: 10px;
	}
	.profile-info .profile-heading img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		margin-right: 0px;
		margin-bottom: 15px;
	}
	.followers {
		height: 300px;
	}
	.followers article a {
		display: none;
	}
	.followers .title {
		text-transform: uppercase;
		position: static;
		color: #617d98;
		right: -50px;
		top: 50%;
		letter-spacing: 5px;
		transform: unset;
		font-weight: 300;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 800px) {
	.charts-container {
		grid-template-columns: 1fr 1fr;
	}
}
